<div>
  <!-- Form Type Default Value-->
  <div class="field">
    <label class="label">Item Default Value</label>
    <div class="control">
      <input class="input" type="number" [(ngModel)]="newFormItem.defaultValue" />
    </div>
  </div>

  <!-- Form Type Placeholder-->
  <div class="field">
    <label class="label">Item placeholder</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="newFormItem.placeholder" />
    </div>
  </div>

  <!-- Form Type initial value-->
  <div class="field">
    <div class="control">
      <label class="label">Min Value</label>
      <input class="input" type="number" [(ngModel)]="newFormItem.minLength" />
    </div>
    <div class="control">
      <label class="label">Max Value</label>
      <input class="input" type="number" [(ngModel)]="newFormItem.maxLength" />
    </div>
  </div>

  <!-- Form Type initial value-->
  <div class="field">
    <label class="label">Item initial value</label>
    <div class="control">
      <input class="input" type="number" [(ngModel)]="newFormItem.value" />
    </div>
  </div>
</div>
